/* Add CSS styling here */
* {
    border: 1px solid palevioletred;
/* Navigation styling starts heere */
}
h1 {
    font-size: 2rem;
    color: palevioletred;
}
.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.top-left{
    margin-right: 50%;
}
.top-right{
    margin-left: 12%;
}
.item {
    font-size: 1.3rem;
    background-color: blueviolet;
    color: white;
}
a:link {
    text-decoration: none;
}
/* bottom half of the  */
.parent {
    display: flex;
    flex-flow: row wrap;
}
.pic {
    width: 20%;
    height: 20%;
}
.top-img {
    width: 80%;
    margin: 0 10%;
}
