html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
   
}
html {
    font-size: 60%;
}
body {
    font-size: 1.8rem;
    background-color: gainsboro;
    color: rgba(0, 0, 0, 0.644);
    line-height: 1.5;
    font-family: 'Roboto Condensed', sans-serif;
}
h1 {
    color: rosybrown;
    font-size: 6rem;
}
button {
    font-size: 1.6rem;
    padding: 2% 4%;
}

/* header section styling*/
nav {
    background-color: beige;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0
   
}
nav a:hover {
    color: rosybrown;
    background-color: beige;
}
.my-name {
    width: 50%;
    margin-right: 5%;
}
div.links {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 3%;
}
.links a {
    text-decoration: none;
}
.about, .contact, .projects, .home {
    text-align: center;
    width: 10%;
    font-size: 2rem;
    border-radius: 20%;
    color: white;
    background-color: rosybrown;
}
h2.name {
    font-size: 6rem;
}
h2 {
    font-size: 4rem;
    text-decoration: underline;
}
p, h2, li, h1 {
    text-align: center;
    color: rosybrown;
}

/*top section styling*/
div.title {
    display: flex;
    flex-direction: column;
    background-image: url("https://picsum.photos/536/354");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    height: 90vh;
    justify-content: center;
    text-align: center;
}
div.title a {
    text-decoration: none;
}
div.name {
    display: flex;
    margin-top: 2%;
    width: 90%;
    margin-left: 18%;
}
.projects-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 4rem;
    height: 10%;
    width: 15%;
    border-radius: 5%; 
    margin-left: 43%;
    margin-top: 0%;
    background-color: rosybrown;
}

h3 {
    font-size: 2.3rem;
}
.projects-btn:hover {
    background-color: palevioletred;
    transition: 2s;
}
/* images styling section */
.parent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding: 1%;
    
}
.pic {
    width: 30%;
    height: 20%;
}

/* contact me section styling */
.container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
}
.in-touch {
    width: 30%;
    padding: 5%;
}
.find-me {
    display: flex;
    margin: auto;
    width: 30%;
}
.find-me a:hover {
    color: rosybrown;
    background: gainsboro;
    transition: 2s;
}
.link {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    font-size: 2rem;
}
.linkOne, .linkTwo, .linkThree, .linkFour {
    background-color: rosybrown;
    padding: 5%;
    margin: auto;
    border-radius: 5%;
    width: 30%;
    height: 30%;
    text-decoration: none;
}
/* about.html styling section */
.photos {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px;
}
.pic {
    max-width: 30%;
    max-height: 30%;
}

/* footer styling section */
footer {
    background-color: beige;
}
footer a {
    color: white;
    background-color: rosybrown;
    border-radius: 10%;
    padding: 2%;
    display: flex;
    justify-content: space-between;
}
div.icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    font-size: 2rem;
}
footer a:hover {
    background-color: beige;
    color: rosybrown;
    transition: 2s;
}
a.fa {
    text-decoration: none;
}

/* responsive site query */

/* tablet view query */
@media (max-width:800px){
    .my-name {
        width: 80%;
    }
    .links {
        width: 60%;
    }
    h2.name {
        width: 100%;
        font-size: 3rem;
        margin-right: 5%;
        margin-top: -30%%;
    }
    div.my-projects {
        width: 15%;
    }
    a.about, a.home, a.projects, a.contact {
        width: 23%;
    }
}

/* phone view query */
@media (max-width:500px){
div.title {
    background-image: none;
    background-color: gainsboro;
}
nav h1 {
    font-size: 2rem;
    width: 100%;
}
div.links {
    width: 100%;
}
a.projects-btn {
    width: 30%;
    margin-left: 35%;
}
div.in-touch {
    width: 60%;
}
a.home, a.about, a.projects, a.contact {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 1.8rem;
}
}